<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kensure.shike.user.dao.SKUserDao"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
    <sql id="allFields">
		id,
		phone,
		password,
		referee_id as refereeId,
		level,
		level_code as levelCode,
		status,
		name,
		no_alipay as noAlipay,
		no_taobao as noTaobao,
		alipay_img as alipayImg,
		taobao_img as taobaoImg,
		no_qq as noQq,
		no_weixin as noWeixin,
		no_taoqufen as noTaoqufen,
		type,
		realname,
		paypassword,
		source,
		audit_status as auditStatus,
		remark as remark,
		first_shoptime as firstShoptime,
		created_time as createdTime,
		updated_time as updatedTime
    </sql>
    
	<sql id="insertFields">
		id,
		phone,
		password,
		referee_id,
		level,
		level_code,
		status,
		name,
		no_alipay,
		no_taobao,
		alipay_img,
		taobao_img,
		no_qq,
		no_weixin,
		no_taoqufen,
		type,
		realname,
		paypassword,
		audit_status,
		created_time,
		updated_time
    </sql>
	
	<insert id="insert" parameterType="com.kensure.shike.user.model.SKUser">
		insert into sk_user (<include refid="insertFields"/>)
		values (
			#{id},
			#{phone},
			#{password},
			#{refereeId},
			#{level},
			#{levelCode},
			#{status},
			#{name},
			#{noAlipay},
			#{noTaobao},
			#{alipayImg},
			#{taobaoImg},
			#{noQq},
			#{noWeixin},
			#{noTaoqufen},
			#{type},
			#{realname},			
			#{paypassword},
			#{auditStatus},
			#{createdTime},
			#{updatedTime}
		)
	</insert>		
	
    <sql id="whereClause">
		<if test="id != null">
			id = #{id}
		</if>
		<if test="phone != null">
            and phone = #{phone}
		</if>
		<if test="password != null">			
			and password = #{password}			
		</if>
		<if test="refereeId != null">			
			and referee_id = #{refereeId}			
		</if>
		<if test="level != null">			
			and level = #{level}			
		</if>
		<if test="levelCode != null">			
			and level_code = #{levelCode}			
		</if>
		<if test="status != null">			
			and status = #{status}			
		</if>
		<if test="name != null">			
			and name = #{name}			
		</if>
		<if test="noAlipay != null">			
			and no_alipay = #{noAlipay}			
		</if>
		<if test="noTaobao != null">			
			and no_taobao = #{noTaobao}			
		</if>
		<if test="noQq != null">			
			and no_qq = #{noQq}			
		</if>
		<if test="noWeixin != null">			
			and no_weixin = #{noWeixin}			
		</if>
		<if test="noTaoqufen != null">			
			and no_taoqufen = #{noTaoqufen}			
		</if>
		<if test="auditStatus != null">			
			and audit_status = #{auditStatus}			
		</if>	
		<if test="type != null">			
			and type = #{type}			
		</if>
		<if test="realname != null">			
			and realname = #{realname}			
		</if>
		<if test="createdTime != null">			
			and created_time = #{createdTime}			
		</if>
		<if test="updatedTime != null">			
			and updated_time = #{updatedTime}			
		</if>
		<if test="startCreatedTime != null">
			<![CDATA[
			and created_time >= #{startCreatedTime}
			]]>
		</if>
		<if test="endCreatedTime != null">
			<![CDATA[
			and created_time <= #{endCreatedTime}
			]]>
		</if>
		<if test="startFirstShoptime != null">
			<![CDATA[
			and first_shoptime >= #{startFirstShoptime}
			]]>
		</if>
		<if test="endFirstShoptime != null">
			<![CDATA[
			and first_shoptime <= #{endFirstShoptime}
			]]>
		</if>
		<if test="startAuditTime != null">
			<![CDATA[
			and audit_time >= #{startAuditTime}
			]]>
		</if>
		<if test="endAuditTime != null">
			<![CDATA[
			and audit_time <= #{endAuditTime}
			]]>
		</if>
		<if test="isTest != null">			
			and is_test = #{isTest}			
		</if>
	</sql>
    
	<select id="selectOne" resultType="com.kensure.shike.user.model.SKUser" parameterType="Long" >
		select <include refid="allFields"/> 
		  from sk_user 
		 where id = #{id} 
	</select>
	
	<select id="selectByIds" parameterType="List" resultType="com.kensure.shike.user.model.SKUser">
		select <include refid="allFields"/> from sk_user 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
		
	
	<select id="selectCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from sk_user 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="selectByWhere" parameterType="Map" resultType="com.kensure.shike.user.model.SKUser">
		select <include refid="allFields"/>
		from sk_user 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
        <if test="limit != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
	</select>
	
	<sql id="setComn">		
		<if test="phone != null">
			phone = #{phone},
		</if>
		<if test="password != null">
			password = #{password},
		</if>
		<if test="refereeId != null">
			referee_id = #{refereeId},
		</if>
		<if test="level != null">
			level = #{level},
		</if>
		<if test="levelCode != null">
			level_code = #{levelCode},
		</if>
		<if test="status != null">
			status = #{status},
		</if>
		<if test="name != null">
			name = #{name},
		</if>
		<if test="noAlipay != null">
			no_alipay = #{noAlipay},
		</if>
		<if test="noTaobao != null">
			no_taobao = #{noTaobao},
		</if>
		<if test="alipayImg != null">
			alipay_img = #{alipayImg},
		</if>
		<if test="taobaoImg != null">
			taobao_img = #{taobaoImg},
		</if>
		<if test="noQq != null">
			no_qq = #{noQq},
		</if>
		<if test="noWeixin != null">
			no_weixin = #{noWeixin},
		</if>
		<if test="noTaoqufen != null">
			no_taoqufen = #{noTaoqufen},
		</if>
		<if test="type != null">
			type = #{type},
		</if>
		<if test="realname != null">
			realname = #{realname},
		</if>
		<if test="paypassword != null">
			paypassword = #{paypassword},
		</if>
		<if test="auditStatus != null">
			audit_status = #{auditStatus},
		</if>
		<if test="auditTime != null">
			audit_time = #{auditTime},
		</if>
		<if test="remark != null">
			remark = #{remark},
		</if>
		<if test="source != null">
			source = #{source},
		</if>
		<if test="createdTime != null">
			created_time = #{createdTime},
		</if>
		<if test="firstShoptime != null">
			first_shoptime = #{firstShoptime},
		</if>
		<if test="updatedTime != null">
			updated_time = #{updatedTime}
		</if>	
	</sql>
	
	<update id="update" parameterType="com.kensure.shike.user.model.SKUser">
		 update sk_user 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update sk_user 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
</mapper>    
