<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kensure.shike.baobei.dao.SKBbrwDao"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
    <sql id="allFields">
		id,
		bbid,
		status,
		bbnum,
		sqnum,
		zhuanhua,
		daydes,
		yzj,
		ysqnum,
		start_time as startTime,
		end_time as endTime,
		created_time as createdTime,
		updated_time as updatedTime
    </sql>
    
	<sql id="insertFields">
		id,
		bbid,
		status,
		bbnum,
		sqnum,
		zhuanhua,
		daydes,
		yzj,
		ysqnum,
		start_time,
		end_time,
		created_time,
		updated_time
    </sql>
	
	<insert id="insert" parameterType="com.kensure.shike.baobei.model.SKBbrw">
		insert into sk_bbrw (<include refid="insertFields"/>)
		values (
			#{id},
			#{bbid},
			#{status},
			#{bbnum},
			#{sqnum},
			#{zhuanhua},
			#{daydes},
			#{yzj},
			#{ysqnum},
			#{startTime},
			#{endTime},
			#{createdTime},
			#{updatedTime}
		)
	</insert>
	
	<insert id="insertInBatch" parameterType="com.kensure.shike.baobei.model.SKBbrw">
		insert into sk_bbrw (<include refid="insertFields"/>) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.bbid},
				#{item.status},
				#{item.bbnum},
				#{item.sqnum},
				#{item.zhuanhua},
				#{item.daydes},
				#{item.yzj},		
				#{item.ysqnum},
				#{item.startTime},
				#{item.endTime},
				#{item.createdTime},
				#{item.updatedTime}
			)
		</foreach>
	</insert>   		
	
    <sql id="whereClause">
		<if test="bbid != null">			
			bbid = #{bbid}			
		</if>
		<if test="status != null">			
			and status = #{status}			
		</if>
		<if test="bbnum != null">			
			and bbnum = #{bbnum}			
		</if>
		<if test="sqnum != null">			
			and sqnum = #{sqnum}			
		</if>
		<if test="zhuanhua != null">			
			and zhuanhua = #{zhuanhua}			
		</if>
		<if test="daydes != null">			
			and daydes = #{daydes}			
		</if>
		<if test="yzj != null">			
			and yzj = #{yzj}			
		</if>
		<if test="ysqnum != null">			
			and ysqnum = #{ysqnum}			
		</if>	
		<if test="startTime != null">			
			and start_time = #{startTime}			
		</if>
		<if test="endTime != null">			
			and end_time = #{endTime}			
		</if>
		<if test="createdTime != null">			
			and created_time = #{createdTime}			
		</if>
		<if test="updatedTime != null">			
			and updated_time = #{updatedTime}			
		</if>
	</sql>
    
	<select id="selectOne" resultType="com.kensure.shike.baobei.model.SKBbrw" parameterType="Long" >
		select <include refid="allFields"/> 
		  from sk_bbrw 
		 where id = #{id} 
	</select>
	
	<select id="selectByIds" parameterType="List" resultType="com.kensure.shike.baobei.model.SKBbrw">
		select <include refid="allFields"/> from sk_bbrw 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
		
	<select id="selectAll" resultType="com.kensure.shike.baobei.model.SKBbrw">
		select <include refid="allFields"/> 
		from sk_bbrw 
	</select>

	<select id="selectCount" resultType="long">
		select count(*) from sk_bbrw 
	</select>
	
	<select id="selectCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from sk_bbrw 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="selectByWhere" parameterType="Map" resultType="com.kensure.shike.baobei.model.SKBbrw">
		select <include refid="allFields"/>
		from sk_bbrw 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="bbid != null">
			bbid = #{bbid},
		</if>
		<if test="status != null">
			status = #{status},
		</if>
		<if test="bbnum != null">
			bbnum = #{bbnum},
		</if>
		<if test="sqnum != null">
			sqnum = #{sqnum},
		</if>
		<if test="zhuanhua != null">
			zhuanhua = #{zhuanhua},
		</if>
		<if test="daydes != null">
			daydes = #{daydes},
		</if>		
		<if test="yzj != null">
			yzj = #{yzj},
		</if>
		<if test="ysqnum != null">
			ysqnum = #{ysqnum},
		</if>
		<if test="startTime != null">
			start_time = #{startTime},
		</if>
		<if test="endTime != null">
			end_time = #{endTime},
		</if>
		<if test="createdTime != null">
			created_time = #{createdTime},
		</if>
		<if test="updatedTime != null">
			updated_time = #{updatedTime},
		</if>
	</sql>
	
	<update id="update" parameterType="com.kensure.shike.baobei.model.SKBbrw">
		 update sk_bbrw 
		    <set>
		    	<include refid="setComn"/>
			</set>
			
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update sk_bbrw 
		    <set>
		    	<include refid="setComn"/>
			</set>
			<if test="ysqnumAdd != null">
				ysqnum = ysqnum+#{ysqnumAdd},
			</if>
			<if test="yzjAdd != null">
				yzj = yzj+#{yzjAdd},
			</if>
		  where id = #{id}
	</update>
	
	<delete id="delete">
		delete from sk_bbrw where id = #{id}
	</delete>
	
	<delete id="deleteMulti" parameterType="List">
		delete from sk_bbrw
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from sk_bbrw 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	

</mapper>    
