<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kensure.shike.baobei.dao.SKSkqkDao"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
    <sql id="allFields">
		id,
		bbid,
		rwid,
		userid,
		status,
		last_status as lastStatus,
		jinbi,
		sale_price as salePrice,
		jiangli,
		ewai,
		no_taobao as noTaobao,
		created_time as createdTime,
		updated_time as updatedTime
    </sql>
    
	<sql id="insertFields">
		id,
		bbid,
		rwid,
		userid,
		status,
		last_status,
		jinbi,
		sale_price,
		jiangli,
		ewai,
		no_taobao,
		created_time,
		updated_time
    </sql>
	
	<insert id="insert" parameterType="com.kensure.shike.baobei.model.SKSkqk">
		insert into sk_sqqk (<include refid="insertFields"/>)
		values (
			#{id},
			#{bbid},
			#{rwid},
			#{userid},		
			#{status},
			#{lastStatus},
			#{jinbi},
			#{salePrice},
			#{jiangli},
			#{ewai},
			#{noTaobao},
			#{createdTime},
			#{updatedTime}
		)
	</insert>
	
	<insert id="insertInBatch" parameterType="com.kensure.shike.baobei.model.SKSkqk">
		insert into sk_sqqk (<include refid="insertFields"/>) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.id},
				#{item.bbid},
				#{item.rwid},
				#{item.userid},		
				#{item.status},
				#{item.lastStatus},
				#{item.jinbi},
				#{item.salePrice},
				#{item.jiangli},
				#{item.ewai},
				#{item.noTaobao},
				#{item.createdTime},
				#{item.updatedTime}
			)
		</foreach>
	</insert>   		
	
    <sql id="whereClause">
		<if test="bbid != null">			
			bbid = #{bbid}			
		</if>
		<if test="rwid != null">			
			and rwid = #{rwid}			
		</if>
		<if test="status != null">			
			and status = #{status}			
		</if>
		<if test="bigthanstatus != null">	
		<![CDATA[		
			and status >= #{bigthanstatus}		
		]]>	
		</if>
		<if test="lessthanstatus != null">	
		<![CDATA[		
			and status <= #{lessthanstatus}		
		]]>	
		</if>
		<if test="lastStatus != null">			
			and last_status = #{lastStatus}			
		</if>
		<if test="noTaobao != null">			
			and no_taobao = #{noTaobao}			
		</if>		
		<if test="userid != null">			
			and userid = #{userid}			
		</if>		
		<if test="jinbi != null">			
			and jinbi = #{jinbi}			
		</if>
		<if test="salePrice != null">			
			and sale_price = #{salePrice}			
		</if>
		<if test="jiangli != null">			
			and jiangli = #{jiangli}			
		</if>
		<if test="ewai != null">			
			and ewai = #{ewai}			
		</if>
		<if test="createdTime != null">			
			and created_time = #{createdTime}			
		</if>
		<if test="updatedTime != null">			
			and updated_time = #{updatedTime}			
		</if>
		<if test="lessupdatedTime != null">			
			<![CDATA[		
			and updated_time <= #{lessupdatedTime}		
			]]>		
		</if>
		
	</sql>
    
	<select id="selectOne" resultType="com.kensure.shike.baobei.model.SKSkqk" parameterType="Long" >
		select <include refid="allFields"/> 
		  from sk_sqqk 
		 where id = #{id} 
	</select>
	
	<select id="selectByIds" parameterType="List" resultType="com.kensure.shike.baobei.model.SKSkqk">
		select <include refid="allFields"/> from sk_sqqk 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
		
	<select id="selectAll" resultType="com.kensure.shike.baobei.model.SKSkqk">
		select <include refid="allFields"/> 
		from sk_sqqk 
	</select>

	<select id="selectCount" resultType="long">
		select count(*) from sk_sqqk 
	</select>
	
	<select id="selectCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from sk_sqqk 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="selectByWhere" parameterType="Map" resultType="com.kensure.shike.baobei.model.SKSkqk">
		select <include refid="allFields"/>
		from sk_sqqk 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="bbid != null">
			bbid = #{bbid},
		</if>
		<if test="rwid != null">
			rwid = #{rwid},
		</if>
		<if test="status != null">
			status = #{status},
		</if>
		<if test="lastStatus != null">
			last_status = #{lastStatus},
		</if>
		<if test="jinbi != null">
			jinbi = #{jinbi},
		</if>
		<if test="salePrice != null">
			sale_price = #{salePrice},
		</if>
		<if test="jiangli != null">
			jiangli = #{jiangli},
		</if>
		<if test="ewai != null">
			ewai = #{ewai},
		</if>
		<if test="noTaobao != null">
			no_taobao = #{noTaobao},
		</if>	
		<if test="createdTime != null">
			created_time = #{createdTime},
		</if>
		<if test="updatedTime != null">
			updated_time = #{updatedTime}
		</if>
	</sql>
	
	<update id="update" parameterType="com.kensure.shike.baobei.model.SKSkqk">
		 update sk_sqqk 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update sk_sqqk 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<delete id="delete">
		delete from sk_sqqk where id = #{id}
	</delete>
	
	<delete id="deleteMulti" parameterType="List">
		delete from sk_sqqk
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from sk_sqqk 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	

</mapper>    
