body {
  background-color: #f2f2f2;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  align-items: stretch;
  font-size: 0.34666667rem;
}
.swiper-slide {
  height: auto;
  font-size: 0.34666667rem;
}
.swiper-slide .img {
  width: 100%;
  height: 2.66666667rem;
  overflow: hidden;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  height: 8px;
  line-height: 8px;
}
.input_hidden {
  display: none;
}
label {
  display: block;
  font-size: 0.29333333rem;
  color: #565656;
}
label input[type="checkbox"] {
  opacity: 0;
}
label input[type="checkbox"] + i {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border: 1px solid #dcdcdc;
  vertical-align: middle;
  margin-right: 1.33333333vw;
  line-height: 0.4rem;
  font-size: 0.34666667rem;
  color: #FC63B3;
}
label input[type="checkbox"]:checked {
  opacity: 0;
}
label input[type="checkbox"]:checked + i:before {
  content: "\e6f1";
}
label input[type="radio"] {
  opacity: 0;
}
label input[type="radio"] + i {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  vertical-align: middle;
  font-size: 0.42666667rem;
  color: #FC63B3;
  text-align: center;
  line-height: 0.4rem;
}
label input[type="radio"]:checked {
  opacity: 0;
}
label input[type="radio"]:checked + i:before {
  content: "\e71e";
}
.com_in_box {
  position: relative;
}
.conmon_header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #ff4cad 0%, #fe447d 0%, #ff624e 100%);
  z-index: 100;
  border-bottom: 1px solid #ededf1;
}
.conmon_header i {
  width: 6.66666667vh;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.conmon_header h1 {
  flex-grow: 1;
  line-height: 40px;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
}
.conmon_header p {
  min-width: 5.33333333vh;
}
.conmon_header button {
  min-width: 6.66666667vh;
  height: 100%;
  background-color: transparent;
  border: 0;
  font-size: 0.26666667rem;
  color: #fff;
  padding: 0 3.2vw;
}
.conmon_header button:active {
  background-color: #f9f9f9;
}
.empty {
  width: 100%;
  height: 40px;
}
.search {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #ff4cad 0%, #fe447d 0%, #ff624e 100%);
}
.search .left {
  width: 10.66666667vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .left i {
  font-size: 0.66666667rem;
  color: #fff;
}
.search .left i:active {
  color: #FC63B3;
}
.search .right {
  width: 10.66666667vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .right i {
  font-size: 0.53333333rem;
  color: #fff;
}
.search .right i:active {
  color: #FC63B3;
}
.search .search_input {
  width: 80vw;
  height: 30px;
  background-color: #f2f2f2;
  border: 1px solid #dcdcdc;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search .search_input input {
  box-sizing: border-box;
  height: 100%;
  width: 70.66666667vw;
  padding-left: 2.66666667vw;
  background-color: transparent;
  border: 0;
  font-size: 0.37333333rem;
}
.search .search_input input:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}
.search .search_input i {
  display: inline-block;
  width: 10.66666667vw;
  height: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 2.66666667vh;
  color: #333;
}
.top_nav {
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg, #ff4cad 0%, #fe447d 0%, #ff624e 100%);
}
.top_nav .swiper-slide {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_nav .swiper-slide span {
  display: inline-block;
  text-align: center;
  width: 96%;
  height: 25px;
  line-height: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  color: #fff;
  font-size: 0.32rem;
  border-radius: 50px;
}
.top_nav .swiper-slide span i {
  font-size: 12px;
}
.top_nav .swiper-slide.active span {
  color: #FC63B3;
  background-color: #fff;
}
i.icon-weixin-copy {
  color: #2f9833;
}
i.icon-weibo {
  color: #fa2f2f;
}
i.icon-qq {
  color: #1296db;
}
.conmon_pop_box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
}
.conmon_pop_box .tips_box {
  width: 100%;
  background: linear-gradient(90deg, #fe457a, #ff624e);
  padding: 0.29333333rem;
  padding-top: 0;
}
.conmon_pop_box .tips_box h1 {
  height: 30px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conmon_pop_box .tips_box h1 i.logo {
  font-size: 4vh;
  color: #fff;
}
.conmon_pop_box .tips_box .tips_cont {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  padding: 2.66666667vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.conmon_pop_box .tips_box .tips_cont .tips_text {
  font-size: 0.4rem;
  color: #666;
}
.conmon_pop_box.show_up {
  transform: translateY(0);
}
.com_select_pop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.com_select_pop .select_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 40%;
  overflow-y: scroll;
  background-color: #fff;
  transform: translateY(100%);
  transition: all 0.3s linear;
}
.com_select_pop .select_content h1 {
  height: 40px;
  padding: 0 3.2vw;
  font-size: 0.4rem;
  background-color: #ededf1;
  line-height: 40px;
  color: #666;
  border-bottom: 1px solid #dcdcdc;
}
.com_select_pop .select_content ul {
  padding-left: 4vw;
}
.com_select_pop .select_content ul li {
  padding-left: 2.66666667vw;
  height: 35px;
  border-bottom: 1px solid #ededf1;
  line-height: 35px;
  font-size: 0.4rem;
  color: #999;
}
.com_select_pop .select_content ul li:last-child {
  border-bottom: 0;
}
.com_select_pop .select_content.show {
  transform: translateY(0);
}
.com_alert_pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.com_alert_pop .in_box {
  width: 80%;
  background-color: #fff;
  border-radius: 1.33333333vw;
  overflow: hidden;
  border: 0.4vw solid #FC63B3;
  box-shadow: inset 0 0 20px -3px #FC63B3;
  transition: all 0.3s linear;
  transform: scale(0);
}
.com_alert_pop .in_box h1 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #fe457a, #ff624e);
}
.com_alert_pop .in_box h1 i {
  font-weight: 100;
}
.com_alert_pop .in_box h1 i:first-child {
  font-size: 1.06666667rem;
  color: #fff;
}
.com_alert_pop .in_box h1 i:last-child {
  font-size: 0.93333333rem;
  color: #fff;
  opacity: 0.5;
}
.com_alert_pop .in_box .content {
  padding: 2.66666667vw;
  text-align: center;
  font-size: 0.34666667rem;
  color: #666;
}
.com_alert_pop .in_box button {
  margin: 0.29333333rem auto;
  display: block;
  min-width: 21.33333333vw;
  height: 40px;
  line-height: 40px;
  border-radius: 1.33333333vw;
  background-color: #FC63B3;
  font-size: 0.34666667rem;
  color: #fff;
}
.com_alert_pop .in_box.show {
  transform: scale(1);
}
.form_content {
  width: 100%;
}
.form_content .form_item {
  width: 100%;
  margin-bottom: 0.29333333rem;
}
.form_content .form_item .form_title {
  font-size: 0.4rem;
  padding-left: 2.66666667vw;
}
.form_content .form_item .bottom_tips {
  font-size: 0.4rem;
  color: #999;
  padding-left: 2.66666667vw;
}
.form_content .form_item .bottom_tips.success {
  color: #0AB70E;
}
.form_content .form_item .bottom_tips.success:before {
  content: "\e616";
  margin-right: 0.66666667vw;
}
.form_content .form_item .bottom_tips.warning {
  color: #FC63B3;
}
.form_content .form_item .bottom_tips.warning:before {
  content: "\e615";
  margin-right: 0.66666667vw;
}
.form_content .form_item .bottom_tips.tips {
  color: #FF8800;
}
.form_content .form_item .bottom_tips.tips:before {
  content: "\e649";
  margin-right: 0.66666667vw;
}
input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 0.66666667vw;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  padding-left: 2.66666667vw;
  font-size: 0.4rem;
  color: #666;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 125px;
  line-height: 20px;
  border-radius: 1.33333333vw;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  padding: 2.66666667vw;
  font-size: 0.4rem;
  color: #666;
  resize: none;
}
input[type="radio"] + span,
input[type="checkbox"] + span {
  width: 4.66666667vw;
  height: 4.66666667vw;
  margin-right: 2.66666667vw;
  position: relative;
  color: #999;
  font-size: 0.50666667rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="radio"] + span:before,
input[type="checkbox"] + span:before {
  content: "\e741";
}
input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
  color: #FC63B3;
  font-size: 0.45333333rem;
  font-weight: bold;
}
input[type="radio"]:checked + span:before,
input[type="checkbox"]:checked + span:before {
  content: "\e71e";
}
.line_tips {
  height: 30px;
  line-height: 30px;
  padding: 0 3.2vw;
  font-size: 0.4rem;
  color: #999;
}
.block_tips {
  margin: 0.29333333rem 0;
  padding: 0 3.2vw;
  font-size: 0.4rem;
  color: #999;
  text-align: justify;
}
.block_tips strong {
  color: #666;
}
.block_tips span {
  color: #FC63B3;
}
.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.4rem;
  color: #999;
  margin: 2.66666667vh 0;
}
.loading img {
  width: 20%;
}
.singIn_pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.singIn_pop .form_box {
  box-sizing: border-box;
  width: 93.33333333vw;
  background: linear-gradient(90deg, #fe457a, #ff624e);
  padding: 4vw 1.33333333vw;
  border-radius: 2.66666667vw;
  position: relative;
  border-top-left-radius: 0;
}
.singIn_pop .form_box h1 {
  height: 40px;
  line-height: 10px;
  background: #fe457a;
  position: absolute;
  top: -30px;
  left: 0;
  border-top-left-radius: 2.66666667vw;
  border-top-right-radius: 2.66666667vw;
  padding: 0 2.66666667vw;
}
.singIn_pop .form_box h1 i {
  font-size: 4vh;
  color: #fff;
  font-weight: 100;
}
.singIn_pop .form_box form {
  width: auto;
  background: #fff;
  padding: 3.33333333vw;
  border-bottom-left-radius: 1.33333333vw;
  border-bottom-right-radius: 1.33333333vw;
  box-shadow: inset 0 0 25px 0 #fe457a;
}
.singIn_pop .form_box form p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 4vw 0.29333333rem 4vw;
  border-bottom: 1px solid #ededf1;
}
.singIn_pop .form_box form p i {
  font-size: 0.45333333rem;
  color: #ff624e;
}
.singIn_pop .form_box form p input {
  height: 30px;
  border: 0;
  background-color: transparent;
  padding-left: 2.66666667vw;
}
.singIn_pop .form_box form p input:focus {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  outline-offset: 0;
  outline: 0;
}
.singIn_pop .form_box form p:nth-child(2) i {
  font-size: 2.66666667vh;
}
.singIn_pop .form_box form button {
  display: block;
  margin: 2.66666667vh auto 0 auto;
  width: 24vw;
  height: 40px;
  border-radius: 1.33333333vw;
  background: linear-gradient(90deg, #fe457a, #ff624e);
  color: #fff;
}
.singIn_pop .form_box .close {
  font-size: 0.93333333rem;
  color: #fff;
  position: absolute;
  top: -1.06666667rem;
  right: 0;
  opacity: 0.5;
}
.content_404 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}
.content_404 .img {
  width: 60%;
  margin: 0 auto;
}
.content_404 h1 {
  margin-top: 2.66666667vh;
  color: #f9309d;
  font-size: 4.26666667vw;
}
.content_404 p {
  font-size: 3.73333333vw;
  color: #898989;
  margin: 0.66666667vh 0;
}
.content_404 a {
  display: block;
  color: #0d8ddb;
}
.loging {
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loging p {
  text-align: center;
  font-size: 4.26666667vw;
  color: #f9309d;
}
.loging img {
  width: 50%;
  margin: 0 auto;
}
.taber {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0 8px 1px #f2f2f2;
  z-index: 2;
  background-color: #fff;
}
.taber ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.taber ul li {
  width: 20%;
  text-align: center;
  position: relative;
  padding: 5px 0;
}
.taber ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.34666667rem;
  color: #666;
}
.taber ul li i {
  font-size: 0.50666667rem;
  color: #666;
}
.taber ul li .mid_icon {
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -3.33333333vh;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.4vh;
  transform: rotateZ(45deg);
  box-shadow: -2px -2px 5px -2px #dcdcdc;
}
.taber ul li .mid_icon i {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #FC63B3;
  border-radius: 50%;
  color: #fff;
  transform: rotateZ(-47deg);
}
.taber ul li .mid_icon + p {
  margin-top: 26px;
}
.taber ul li.active a {
  color: #FC63B3;
  font-weight: bold;
  font-size: 0.37333333rem;
}
.taber ul li.active i {
  font-weight: 100;
  color: #FC63B3;
  font-size: 0.56rem;
}
.go_top {
  position: fixed;
  right: 2.66666667vw;
  bottom: 8vh;
  width: 10.66666667vw;
  height: 10.66666667vw;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1000;
  opacity: 0.3;
  transition: all 0.3s linear;
}
.go_top:active {
  opacity: 1;
}
.jjfs {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
}
